.Black{
     background-color:Gray;
}


#Menu {
    width:  100%;
    height: 100%;
    text-align: center;
}

#SubMenu{
     display: inline-block;
     text-align: center;
    background-color:#999999;
    width: 310px;
    height: 240px;
}
#DIV{
background-color:blue;

}


/*


for(i=0;i<7;i++){
for(j=0;j<4;j++){
var div = document.createElement("div");
div.id =i+""+j;
}
}

function GenerarT(){

    for(i=0;i<8;i++){
    for(j=0;j<8;j++){
        var tabla="<table border=\"0\">";
        for(i=0;i<filas;i++){
        tabla+="<tr>";
        for(j=0;j<col;j++){
        tabla+="<td>"+"<input type=\"text\" size=\"1\">"+ "</td>";
        }
        tabla+="</tr>";
        }
        tabla+="</table>";
        document.getElementById("resultado").innerHTML=tabla;
    }
    }





*/
